body {
	font-family: 'Murecho', sans-serif;
	color: #666;
	line-height: 1.5;
	margin: 0;
}

/* --- Responsive Sidebar navigation adapted from W3.CSS Templates --- */

/* --- Typographical Scales --- */

header h1 {
	font-size: 3.333vw;
}
header h2 {
	font-size: 2.083vw;
}

h1, h2, h3 {
	font-family: 'Architects Daughter', cursive;
	color: #427ac1;
}

h2, h3 {
	line-height: 1;
	margin: 10px 0;
}
h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p {
	margin-bottom: 18px;
}

/* layout */

nav {
	background-color: #fff;
	width: 100%;
}

/*  Places the content image in the bg with the headings on top  */
header {
	padding-top: 2rem;
	background-color: darkred;
	padding-bottom: 0.5rem;
}

.header-bg-wrap {
  	overflow: hidden;
  	position: relative;
}

.header-bg-image {
  	/* opacity: 0.25; */
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: auto;
}

.flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-content {
 	/* position: absolute;
	top: 0; */
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

/* main, .bg-container {
	width: 99%;
	margin: 20px auto;
	} */

main {
	padding-top: 20px;
	overflow: hidden;
}

.content {
	margin-left: auto;
 	margin-right: auto;
  	width: 90%;
}

article img {
	border: none;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
}

.row {
	display: flex;
	align-items: center;
}

.row > p {
	margin-bottom: 3rem;
}

.image-container {
	width: 90%;
	margin: 0 auto;
}

.center-img-and-title > h3 {
	text-align: center;
}

.image-v {
	width: 50%;
	margin-left: 4rem;
}

footer {
	padding: 40px 0;
	margin-top: 24px;
	background-color: #a9a9a9;
}

footer ol {
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

footer ol li {
	margin: 10px;
	display: block;
}

footer a:link, a:visited {
	color:#fff;
	text-decoration: none;
}

footer a:hover, a:active {
	color: #f8f2f2;
	text-decoration: underline;
}

.arther {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 4rem;
	margin-right: 4rem;
}

@media only screen and  (min-width:900px) {

	nav {
		width: 40%;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 36px;
	}

	.outer-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.inner-container {
		width: 48%;
	}

	/* .w3-bar-item {
		font-size: 36px;
	} */

}